<div class="card" > 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
      <div class="poster">
        <img src="https://image.tmdb.org/t/p/w185/{{movie.poster_path}}" alt="image not loading" (click)="onClick()" />
      </div>

    <div class="details">

      <h2 (click)="onClick()">{{movie.title}} </h2>  
      <div class="rating">
        <span style="color:red"> <i class="bi bi-heart-fill"></i> {{movie.vote_average}}</span>
        <span style="color:burlywood"> <i class="bi bi-globe"></i>{{movie.original_language}} </span>
      </div>
      <div class="info">
        <span id="release"> {{movie.release_date}}</span>
      </div>
    
    </div>
  
  </div>

  